<%= form_for(@quizzes) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :student, placeholder: "Student Name" %>
  </div>
  <%= f.submit "Begin New Quiz", class: "btn btn-primary" %>
<% end %>